<div class="box box-primary">
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">

        <table class="table">
          <tbody>
          <tr>
            <td class="col-md-1"><b>Path</b></td>
            <td><%= render partial: 'shared/nav_path', locals: {navigation_path: @directory.navigation_path} %></td>
          </tr>
          <tr>
            <td class="col-md-1"><b>Assignee</b></td>
            <td>
              <%= render partial: 'dropdown_select_tester', locals: { directory_id: @directory.id, selected_tester_name: @directory.tester.name} %>
            </td>
          </tr>
          <tr>
            <td class="col-md-1"><b>Statistics</b></td>
            <td><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-default">
              Get report
            </button></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="modal fade" id="modal-default" style="display: none;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span></button>
              <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">
              <p>One fine body…</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

<!--
      <div class="chart-responsive col-md-2" style="padding-top: 2px">
        <canvas class="directory-stats-chart" style="width: 245px; height: 180px;"></canvas>
      </div>


      <div class="col-md-2">
        <ul class="chart-legend clearfix">
          <li><i class="fa fa-circle-o text-aqua"></i>    Running:  <%= tests_stats[0] %></li>
          <li><i class="fa fa-circle-o text-green"></i>   Pass:     <%= tests_stats[1] %></li>
          <li><i class="fa fa-circle-o text-red"></i>     Fail:     <%= tests_stats[2] %></li>
          <li><i class="fa fa-circle-o text-red"></i>     Error:    <%= tests_stats[3] %></li>
          <li><i class="fa fa-circle-o text-yellow"></i>  Skip:     <%= tests_stats[4] %></li>
        </ul>
      </div>
-->

    </div>

  </div>
</div>

<script>
    prepareDirectoryStatsChart( <%= tests_stats %>)
</script>