<div class="box box-primary">
  <div class="box-body">
    <div class="row">
      <div class="col-md-4">

        <table class="table">
          <tbody>
          <tr>
            <td><b>Name</b></td>
            <td><%= @run.name %></td>
          </tr>
          <tr>
            <td><b>Assignee</b></td>
            <td>
              <div class="btn-group" role="group" style="width: 80%">
              <button type="button" class="btnTester btn btn-xs btn-block dropdown-toggle"
                      data-toggle="dropdown">
                <%= @run.tester.name %> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu tester-dropdown-menu">
                <% testers_all.each do |tester| %>
                    <li><a data-tester-id="<%= tester.id %>" data-tester-name="<%= tester.name %>"><%= tester.name %></a></li>
                <% end %>
              </ul>
            </div>
            </td>
          </tr>
          <tr>
            <td><b>Started</b></td>
            <td><%= @run.start_time.to_s(:db) %></td>
          </tr>
          <tr>
            <td><b>Duration</b></td>
            <td><%= @run.display_duration %></td>
          </tr>
          <tr>
            <td><b>Tests</b></td>
            <td><%= @run.tests.length %></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-2"></div>

      <div class="col-md-4" >
        <div class="chart-responsive">
          <canvas id="pieChart" height="165" width="275" style="width: 275px; height: 165px;"></canvas>
        </div>
      </div>

      <div class="col-md-2" valign="middle">
        <ul class="chart-legend clearfix">
          <li><i class="fa fa-circle-o text-aqua"></i> Running</li>
          <li><i class="fa fa-circle-o text-green"></i> Pass</li>
          <li><i class="fa fa-circle-o text-red"></i> Fail</li>
          <li><i class="fa fa-circle-o text-red"></i> Error</li>
          <li><i class="fa fa-circle-o text-yellow"></i> Skip</li>
        </ul>
      </div>

    </div>

  </div>
</div>

<script>


  var canvas = document.getElementById("pieChart");
  var chart = new Chart(canvas, {
    type: 'doughnut',
    data: {
      labels: ["Running", "Pass", "Fail", "Error", "Skip"],
      datasets: [{
        data: <%= [@run.stats_tests_running, @run.stats_tests_pass, @run.stats_tests_fail, @run.stats_tests_error, @run.stats_tests_skip] %>,
        backgroundColor: [
          'rgba(0, 192, 239, 1)',
          'rgba(0, 166, 90, 1)',
          'rgba(211, 55, 36, 1)',
          'rgba(211, 55, 36, 1)',
          'rgba(243, 156, 18, 1)'
        ],
        borderWidth: 0
      }]
    },
    options: {
      legend: {display: false},
      animation: false,
      // onClick invokes filling search box with name of clicked pie slice
      onClick: function(event)
      {
        var search = $('.dataTables_filter input[type=search]');
        search.val(chart.data.labels[chart.getElementsAtEvent(event)[0]._index]);
        search.trigger('keyup');
      }
    }
  });

  $(document).ready(function ()
  {
    $(".tester-dropdown-menu li a").click(function ()
    {
      var button = $(this).parents('.dropdown-menu').siblings('button');
      var tester_name = $(this).data('tester-name');

      $.ajax
      (
          {
            type: "PUT",
            url: "/api/suites/<%= params[:suite_id] %>/runs/<%= params[:id] %>",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({tester_id: $(this).data('tester-id')})
          }).done(function (response)
      {
        button.html(tester_name + ' <span class="caret"/>');
      });
    });

  });
</script>
