<div class="box box-primary">
  <div class="box-body">
    <table id="runsDataTable" class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Start time</th>
        <th>Duration</th>
        <th class="assignee-column">Assignee</th>
        <th>Passed</th>
      </tr>
      </thead>
      <tbody>
      <% @runs.each do |run| %>
          <tr>
            <td class="col-xs-6"><%= link_to run.name, suite_run_path(run.suite.id, run.id) %></td>
            <td class="col-xs-2"><%= run.start_time.to_s(:db) %></td>
            <td><%= run.display_duration %></td>

            <td class="col-xs-2" >
              <div class="btn-group" role="group" style="width: 70%">
                <button type="button" class="btn-tester btn btn-xs btn-block dropdown-toggle"
                          data-toggle="dropdown"
                          data-run-id="<%= run.id %>">
                <%= run.tester.name %> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu tester-dropdown-menu">
                  <% testers_all.each do |tester| %>
                      <li><a data-tester-id="<%= tester.id %>" data-tester-name="<%= tester.name %>"><%= tester.name %></a></li>
                  <% end %>
                </ul>
              </div>
            </td>

            <td class="col-xs-2" style="padding-top: 5px">
              <%
                if run.stats_tests_error > 0 || run.stats_tests_fail > 0
                  progress_bar_class = 'progress-bar-danger'
                elsif run.stats_tests_skip > 0
                  progress_bar_class = 'progress-bar-warning'
                else
                  progress_bar_class = ''
                end
              %>
              <div class="progress <%= progress_bar_class %>">
                <% if run.stats_tests_running > 0 %>
                    <div class="progress-bar progress-bar-primary progress-bar-striped active"
                         style="width: 100%">
                      <span class="sr-only">0%</span>
                    </div>
                <%
                  else
                    tests_all     = run.stats_tests_all
                    tests_pass    = run.stats_tests_pass

                    if tests_pass == 0 || tests_all == 0
                      tests_ratio = 0
                    else
                      tests_ratio = ((tests_pass.to_f/tests_all) * 100).floor
                    end
                %>
                    <div class="progress-bar progress-bar-success"
                         style="width: <%= tests_ratio %>%">
                      <span><%= tests_ratio %>%</span>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  // Initialize datatable
  $(document).ready(function ()
  {
    $('#runsDataTable').on( 'draw.dt', function ()
    {
      $(".tester-dropdown-menu li a").off('click.runsdt');

      // Convert all list-based dropdown to <select>-like menus
      $(".tester-dropdown-menu li a").on('click.runsdt', function ()
      {
        var button = $(this).parents('.dropdown-menu').siblings('button');
        var tester_name = $(this).data('tester-name');

        $.ajax
        (
            {
              type: "PUT",
              url: "/api/suites/<%= params[:suite_id] || params[:id] %>/runs/" + button.data('run-id'),
              contentType: "application/json",
              dataType: "json",
              data: JSON.stringify({tester_id: $(this).data('tester-id')})
            }).done(function (response)
        {
          button.html(tester_name + ' <span class="caret"/>');
        });
      });
    });


    $('#runsDataTable').DataTable(
    {
      paging: <%= @runs.length > 25 %>,
      pageLength: 25,
      info: false,
      lengthMenu: [ 10, 25, 50, 100 ],
      columnDefs: [
        { targets: ['assignee-column'], data: function(row, type, set, meta){
          if (type === 'set')
          {
            row.val = set;
            row.val_display = set;
            row.val_filter = $(set).find('.btn-tester').text();
          }
          else if (type === 'display')
          {
            return row.val_display
          }
          else if (type === 'filter')
          {
            return row.val_filter
          }

          return row.val;
        }}
      ]
    });

  });
</script>
