<div class="box box-default">
  <div class="box-body">
    <table id="testsDataTable" class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Start time</th>
        <th>Duration</th>
        <th class="result-column">Result</th>
      </tr>
      </thead>
      <tbody>

      <%
        result_options = Result.where(manual: true).pluck(:id,:name)
        @tests.each do |test| %>
          <tr>
            <td class="col-xs-6"><%= link_to test.name, suite_run_test_path(@run.suite_id, @run.id, test.id) %></td>
            <td class="col-xs-2"><%= test.start_time.to_s %></td>
            <td class="col-xs-2"><%= test.display_duration %></td>
            <td align="center">
              <div class="btn-group" role="group" style="width: 70%">
                <%# style of this button is also modified in jQuery responsible for sending manually changed result to API %>
                <button type="button" class="btn-result btn btn-xs btn-block dropdown-toggle <%= test.result.display_style_btn %>"
                        data-toggle="dropdown"
                        data-test-id="<%= test.id %>"
                        data-result-id="<%= test.result_id %>">
                  <%= test.result.name %> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu result-dropdown-menu">

                  <% result_options.each do |result_option| %>
                      <li><a data-result-id="<%= result_option[0] %>"><%= result_option[1] %></a></li>
                  <% end %>
                </ul>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  // Initialize datatable
  $(document).ready(function ()
  {
    $('#testsDataTable').on( 'draw.dt', function ()
    {
      $(".result-dropdown-menu li a").off('click.testsdt');

      // Convert all list-based dropdown to <select>-like menus
      $(".result-dropdown-menu li a").on('click.testsdt', function ()
      {
        var button = $(this).parents('.dropdown-menu').siblings('button');

        $.ajax
        (
          {
            type: "PUT",
            url: "/api/suites/<%= params[:suite_id] %>/runs/<%= params[:id] %>/tests/" + button.data('test-id'),
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({result_id: $(this).data('result-id')})
          }).done(function (response)
        {

          var result_styles = []
          <% Result.all.each do |result| %>
          result_styles.push([<%= result.id %>,"<%= result.name %>","<%= result.display_style_btn %>"]);
          <% end %>

          button.data('result-id', response.result_id);
          button.removeClass();
          button.addClass("btn btn-xs btn-block dropdown-toggle");

          $.each(result_styles, function(index)
          {
            if ($(this)[0] == response.result_id)
            {
              button.html($(this)[1] + ' <span class="caret"/>');
              button.addClass($(this)[2]);
              return false; // needs to return false in order to "break" from jQuery "each"...
            }
          });
        });
      });
    } );


    $('#testsDataTable').DataTable(
        {
          paging: <%= @tests.length > 10 ? 'true' : 'false' %>,
          pageLength: 10,
          info: false,
          lengthMenu: [10, 25, 50, 100],
          columnDefs: [
            { targets: ['result-column'], data: function(row, type, set, meta){
              if (type === 'set')
              {
                row.val = set;
                row.val_display = set;
                row.val_filter = $(set).find('.btn-result').text();
              }
              else if (type === 'display')
              {
                return row.val_display
              }
              else if (type === 'filter')
              {
                return row.val_filter
              }

              return row.val;
            }}
          ]
        }
    );

  });
</script>

