<table id="testsDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>Duration</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% @tests.each do |test| %>
        <tr>
          <td><%= link_to test.name, suite_run_test_path(test.run.suite.id, test.run.id, test.id) %></td>
          <td><%= test.start_time.to_s(:db) %></td>
          <td><%= test.display_duration %></td>
          <td><button type="button" class="btn btn-block <%= Result.find(test.result_id).display_style_btn %> btn-xs"><%= Result.find(test.result_id).name %></button></td>
        </tr>
    <% end %>
  </tbody>
</table>

<script>

  $(document).ready(function() {
    $('#testsDataTable').DataTable(
        {
          paging: <%= @tests.length > 25 ? 'true' : 'false' %>,
          pageLength: 25,
          info: false,
          lengthMenu: [ 25, 50, 100, 200 ]
        }
    );
  } );

</script>

