<% require './app/version' %>

<!DOCTYPE html>
<html>
  <head>
    <title>MotoWebUI</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
        .table-hover .row-child :hover {
          background-color: white;
        }

        .table-hover .selected
        {
          background-color: #ddeaf1;
        }
    </style>

  </head>

  <body class="skin-blue layout-top-nav">

  <div class="wrapper" style="min-height: 100%" data-turbolinks="false">
    <!-- Full Width Column -->
    <div class="content-wrapper" style="min-height: 403px">
      <div class="container" style="width: 90%">

        <!-- Main content -->
        <section class="content no-padding" style="margin-top: 20px" >
          <%= render_navigation %>

          <%= yield %>

        </section>
        <!-- /.content -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="container">
        <div class="pull-right hidden-xs">
          <b>Version</b> <%= MOTOWEBUI_VERSION %>
        </div>
        <strong>MotoWebUI</strong>   <a href="https://github.com/bwilczek/moto">Moto Framework</a> result display project.

      </div>
      <!-- /.container -->
    </footer>
  </div>

  </body>


</html>
